@page "/"
@using Common
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject IConfiguration Configuration
@implements IAsyncDisposable

<PageTitle>Home</PageTitle>

<h1>Nederlandse Loterij - Klik en win! </h1>
@if (grid != null)
{
    <div class="grid">
        @foreach (var element in grid)
        {
            <SquareComponent Element="@element" HubConnection="@_hubConnection" RegisterComponent="RegisterSquareComponent" />
        }
    </div>

    <button @onclick="UpdateAllSquares">Update All Squares</button>
    
    @if (showPopup)
    {
        <div class="popup">
            You @(lastPrize > 0 ? "won! Prize: " + lastPrize : "lost!")
        </div>
    }
}
else
{
<p>Loading...</p>
}

@code {
    private HubConnection _hubConnection;
    private Dictionary<int, SquareComponent> squareComponents = new ();
    
    GridElementExt[] grid;
    bool showPopup = false;
    int lastPrize = 0;
    private string _userId;

    protected override async Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder()
            .WithUrl(Configuration["ApiBaseUrl"])
            .Build();
        
        _hubConnection.On<FlippedGridElementExt>("UpdateGridElement", async (flippedGridElementExt) =>
        {
            await squareComponents[flippedGridElementExt.index].UpdateElement(flippedGridElementExt);
        });
        
        _hubConnection.On<GridElementExt[]>("ReceiveGrid", (receivedGrid) =>
        {
            if (receivedGrid == null || receivedGrid.Length == 0)
            {
                Console.WriteLine("Received an empty grid.");
            }
            else
            {
                grid = receivedGrid;
                Console.WriteLine("Received initial grid with " + receivedGrid.Length + " elements.");
            }
            InvokeAsync(StateHasChanged);
        });
        
        try
        {
            await _hubConnection.StartAsync();
            Console.WriteLine("Connection established. State: " + _hubConnection.State);
        }
        catch (Exception ex)
        {
            Console.WriteLine("Error establishing connection: " + ex.Message);
        }
    }
    
    public void RegisterSquareComponent(SquareComponent component)
    {
        squareComponents[component.Element.index] = component;
    }
    
    async Task UpdateAllSquares()
    {
        List<Task> tasks = new ();
        int maxConcurrency = 50; // Set the maximum number of concurrent tasks
        SemaphoreSlim semaphore = new SemaphoreSlim(maxConcurrency);
        for (int i = 0; i < grid.Length; i++)
        {
            await semaphore.WaitAsync(); 
            int localIndex = i;
            if (grid[i] is UnflippedGridElementExt)
            {
                var flipElementAndUpdate = async () =>
                {
                    try
                    {
                        var result = await _hubConnection.InvokeAsync<FlippedGridElementExt>("FlipGridElement", localIndex);
                        grid[localIndex] = result;
                        InvokeAsync(StateHasChanged);
                    }
                    finally
                    {
                        semaphore.Release(); // Release the semaphore
                    }
                };
                tasks.Add(flipElementAndUpdate());
            }

        }

        await Task.WhenAll(tasks);
    }
    
    async Task FlipSquare(int index)
    {
        var result = await _hubConnection.InvokeAsync<FlippedGridElementExt>("FlipGridElement", index);
        grid[index] = result;
        // showPopup = true;
        // StateHasChanged(); 
        // await Task.Delay(1500);
        // showPopup = false;
        // StateHasChanged(); 
    }

    public (string, bool) GetWinOrLose(FlippedGridElementExt elementExt)
    {
        switch (elementExt.result)
        {
            case MonetaryPrizeResult prize:
                if (prize.AreYouTheFirstFlipper)
                {
                    return ($"You won {prize} euros!", true);
                }
                else
                {
                    return ("Someone else was just a bit faster...", false);
                }

            case NoPrizeResult _:
                return ($"Too bad, so sad - you won nothing...", false);
            default:
                throw new ArgumentOutOfRangeException();
        }
    }
    
    public bool HasElementBeenFlipped(GridElementExt elementExt)
    {
        switch (elementExt)
        {
            case FlippedGridElementExt flippedGridElement:
                return true;
            case UnflippedGridElementExt unflippedGridElement:
                return false;
            default:
                throw new ArgumentOutOfRangeException(nameof(elementExt));
        }
    }
    
    public async ValueTask DisposeAsync()
    {
        if (_hubConnection is not null)
        {
            await _hubConnection.DisposeAsync();
        }
    }
}